<div class="profile-newbook">
  <div class="profile">
    <h2>User info</h2>
    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: "jpeg", fallback: "no_image.jpg" %>
    <table>
      <tbody>
        <tr>
          <th>name</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th></th>
        </tr>
      </tbody>
    </table>
    <div>
      <% if @user.id == current_user.id %>
        <%= link_to "edit", edit_user_path(@user) %>
      <% end %>
    </div>
  </div>
  <h2>New book</h2>
      <%= form_with model: @book, local:true do |f| %>
        <div class="form-group">
          <p>Title</p>
          <%= f.text_field :title %>
        </div>
        <div class="form-group">
          <p>Opinion</p>
          <%= f.text_area :opinion %>
         </div>
        <%= f.submit "Create Book" %>
      <% end %>
</div>
<h2>Books</h2>
<div>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th></th>
      </tr>
    </thead>
    <% @books.each do |book| %>
      <tbody>

        <tr>

          <td>
            <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" %>
          </td>
          <td>
            <%= link_to book_path(book.id) do %>
              <%= book.title %>
            <% end %>
          </td>
          <td>
            <%= book.opinion %>
          </td>

        </tr>
      </tbody>
    <% end %>
  </table>
</div>